.partners {
	padding: 70px 0;

	@media screen and (max-width: 992px) {
		padding: 50px 0;
	}

	@media screen and (max-width: 568px) {
		padding: 40px 0;
	}

	&__title {
		margin-bottom: 36px;
	}

	&__slider {
		position: relative;
		overflow: hidden;
		padding: 0 10%;

		@media screen and (max-width: 992px) {
			padding: 0;
		}
	}

	&__item {
		height: 100%;
		// padding: 16px;

		img {
			display: block;
			height: 60px;
			width: 100%;
			object-fit: contain;
			margin: 0 auto;
		}
	}
}

.navBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 16px;
	height: 32px;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;

	background-image: url('/icons/slider-arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media screen and (max-width: 992px) {
		display: none;
	}
}

.next {
	right: 0;
	left: auto;
	transform: translateY(-50%) rotate(180deg);
}
