.interaction {
	padding: 70px 0;

	@media screen and (max-width: 568px) {
		padding: 40px 0;
	}

	&__title {
		text-align: left;
		margin-bottom: 20px;
	}

	&__description {
		color: #172849;
		font-size: 18px;
		line-height: 130%;
		margin-bottom: 20px;

		@media screen and (max-width: 568px) {
			font-size: 16px;
		}
	}

	&__inner {
		display: flex;
		gap: 40px;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	.image {
		width: 100%;
		max-width: 486px;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.content {
		width: 100%;
		max-width: 590px;
	}
}
