.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 18px 0;
	border-bottom: 0.5px solid #d2d2d2;
	background: #f3f8ff;
	z-index: 999;

	@media screen and (max-width: 768px) {
		padding: 13px 0;
	}

	&__inner {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		position: relative;
		display: block;
		z-index: 100;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		@media screen and (max-width: 1024px) {
			width: 120px;
			height: auto;
		}

		@media screen and (max-width: 568px) {
			width: 86px;
		}
	}
}
