.products {
	padding: 70px 0;

	@media screen and (max-width: 568px) {
		padding: 40px 0;
	}

	&__title {
		margin-bottom: 70px;
	}

	&__inner {
		display: flex;
		gap: 20px;
		flex-direction: column;
	}

	.product {
		display: flex;
		align-items: center;
		gap: 20px;

		width: 90%;
		padding: 40px;
		border-radius: 10px;
		background: #f3f8ff;
		box-shadow: 0 10px 32px -4px rgba(24, 39, 75, 0.05);

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		@media screen and (max-width: 568px) {
			flex-direction: column;
			padding: 15px;
		}

		&_pr {
			margin-left: auto;
			flex-direction: row-reverse;
			justify-content: space-between;

			@media screen and (max-width: 568px) {
				flex-direction: column;
			}
		}

		&__poster {
			width: 100%;
			max-width: 620px;

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&__link {
			color: #74c947;
			font-weight: 700;
			line-height: 125%;
			transition: color 0.3s ease;

			&:hover {
				color: #63ac3c;
			}
		}

		&__title {
			margin-bottom: 10px;
			max-width: 310px;
			font-size: 24px;

			@media screen and (max-width: 568px) {
				max-width: 100%;
				font-size: 20px;
			}
		}
	}
}
