.benefits {
	padding: 100px 0;
	background: #fff;

	@media screen and (max-width: 568px) {
		padding: 40px 0;
	}

	&__container {
		max-width: 1124px;
	}

	&__inner {
		display: flex;
		gap: 40px;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	.image {
		width: 100%;
		max-width: 390px;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	&__list {
		max-width: 530px;
	}
}
